

.encabezado {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4B4B4B;

}

body {
    font-family: candara;
    margin-left: 5%;
}
    
    h2 {
    color: #4B4B4B;
    font-size: 30px;
    padding: 0;
    margin: 2mm, 0;
    
}
h3 {font-family: arial;

}
.parrafo {
    color: #343232;
    font-size: small;
    font-family: candara light;
    margin: 0;


}
    
li {
    color: #343232;
    font-family: candara light;
    margin: 0;


}
ul {
    margin: 0;
}